* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}
#indonesia, #colombia, #ireland, #france, #benin, #sweden, #switzerland, #tonga, #japan, #canada, #norway, #greece, #somalia, #chile, #turkey, #china, #cuba, #western_sahara, #kuwait, #venezuela, #trinidad_and_tobago, #united_kingdom, #new_zealand, #united_states, #seychelle {
  width: 100%;
  height: calc(100vh - 10px);
  margin-bottom: 5px;
}
/* Indonesia */

.indonesia-red {
  width: 100%;
  height: 50%;
  background: red;
}
.indonesia-white {
  width: 100%;
  height: 50%;
  background: white;
}

/* Colombia */

.colombia-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.colombia-blue {
  width: 100%;
  height: 25%;
  background-color: blue;
}
.colombia-red {
  width: 100%;
  height: 25%;
  background-color: red;
}

/* Ireland */
#ireland {
  display: flex;
}
.ireland-green {
  background-color: green;
  width: 100%;
}
.ireland-white {
  background-color: white;
  width: 100%;
}
.ireland-orange {
  background-color: orange;
  width: 100%;
}

/* France */
#france {
  font-size: 0;
}
.france-blue {
  display: inline-block;
  height: 100%;
  background-color: blue;
  width: 33%;
}
.france-white {
  display: inline-block;
  height: 100%;
  background-color: white;
  width: 33%;
}
.france-red {
  display: inline-block;
  height: 100%;
  background-color: red;
  width: 33%;
}

/* Benin */
.benin-first-col {
  width: 35%;
  height: 100%;
  float: left;
}
.benin-second-col {
  width: 65%;
  height: 100%;
  float: left;
}
.benin-green {
  width: 100%;
  height: 100%;
  background-color: green;
}
.benin-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.benin-red {
  width: 100%;
  height: 50%;
  background-color: red;
}

/* Sweden */
.sweden-yellow {
  height: 100%;
  width: 100%;
  background-color: rgb(255,208,0);
  position: relative;
}
.sweden-first-blue {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 30%;
  background-color: rgb(0, 103, 170);
}
.sweden-second-blue {
  position: absolute;
  top: 0;
  left: 40%;
  height: 40%;
  width: 60%;
  background-color: rgb(0, 103, 170);
}
.sweden-third-blue {
  position: absolute;
  bottom: 0;
  left: 40%;
  height: 40%;
  width: 60%;
  background-color: rgb(0, 103, 170);
}
.sweden-fourth-blue {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 30%;
  background-color: rgb(0, 103, 170);
}

/* Switzerland */
.switz-red {
  height: 100%;
  width: 100%;
  background: rgb(255,0,0);
  position: relative;
}
.switz-vert-cross {
  height: 75%;
  width: 16%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
}
.switz-horiz-cross {
  height: 26%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
}
/* Tonga */
.tonga-red {
  height: 100%;
  width: 100%;
  background-color: red;
  position: relative;
}
.tonga-white {
  height: 50%;
  width: 40%;
  background-color: white;
  position: relative;
}
.tonga-cross-x {
  width: 50%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
.tonga-cross-y {
  width: 15%;
  height: 65%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
/* Japan */
.japan-white {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
}
.japan-circle {
  height: 60%;
  width: 30%;
  border-radius: 50%;
  margin: auto;
  background-color: red;
}
/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
