body{
  background-color: black;
}
/* Indonesia */
#indonesia {
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
}
#red {
  background-color: red;
  height: 50vh;
}
#white {
  background-color: white;
  height: 50vh;
}

/* Colombia */
#columbia {
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
}
.colyellow {
  background-color: yellow;
  height: 50vh;
}
.colblue {
  background-color: blue;
  height: 25vh;
}
.colred {
  background-color: red;
  height: 25vh;
}

/* Ireland */
#ireland {
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
  display: flex;
}
.iregreen {
  background-color: green;
  width: 100%;
}
.irewhite {
  background-color: white;
  width: 100%;
}
.ireorange {
  background-color: orange;
  width: 100%;
}

/* France */
#france {
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
}
.fra

/* Benin */


/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
