* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}
#indonesia, #colombia, #ireland, #france, #benin, #sweden, #switzerland, #tonga, #japan, #canada, #norway, #greece, #somalia, #chile, #turkey, #china, #cuba, #western_sahara, #kuwait, #venezuela, #trinidad_and_tobago, #united_kingdom, #new_zealand, #united_states, #seychelle {
  width: 100%;
  height: calc(100vh - 10px);
  margin-bottom: 5px;
}
/* Indonesia */

.indonesia-red {
  width: 100%;
  height: 50%;
  background: red;
}
.indonesia-white {
  width: 100%;
  height: 50%;
  background: white;
}

/* Colombia */

.colombia-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.colombia-blue {
  width: 100%;
  height: 25%;
  background-color: blue;
}
.colombia-red {
  width: 100%;
  height: 25%;
  background-color: red;
}

/* Ireland */
#ireland {
  display: flex;
}
.ireland-green {
  background-color: green;
  width: 100%;
}
.ireland-white {
  background-color: white;
  width: 100%;
}
.ireland-orange {
  background-color: orange;
  width: 100%;
}

/* France */
.france-ctn {
  display: flex;
  height: 100%;
  width: 100%;
}
.france-blue {
  background-color: blue;
  height: 100%;
  width: 100%;
}
.france-white {
  background-color: white;
  height: 100%;
  width: 100%;
}
.france-red {
  background-color: red;
  height: 100%;
  width: 100%;
}

/* Benin */
.benin-first-col {
  width: 35%;
  height: 100%;
  float: left;
}
.benin-second-col {
  width: 65%;
  height: 100%;
  float: left;
}
.benin-green {
  width: 100%;
  height: 100%;
  background-color: green;
}
.benin-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.benin-red {
  width: 100%;
  height: 50%;
  background-color: red;
}

/* Sweden */
.sweden-yellow {
  height: 100%;
  width: 100%;
  background-color: rgb(255,208,0);
  position: relative;
}
.sweden-first-blue {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 30%;
  background-color: rgb(0, 103, 170);
}
.sweden-second-blue {
  position: absolute;
  top: 0;
  left: 40%;
  height: 40%;
  width: 60%;
  background-color: rgb(0, 103, 170);
}
.sweden-third-blue {
  position: absolute;
  bottom: 0;
  left: 40%;
  height: 40%;
  width: 60%;
  background-color: rgb(0, 103, 170);
}
.sweden-fourth-blue {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 30%;
  background-color: rgb(0, 103, 170);
}

/* Switzerland */
.switz-red {
  height: 100%;
  width: 100%;
  background: rgb(255,0,0);
  position: relative;
}
.switz-vert-cross {
  height: 75%;
  width: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
}
.switz-horiz-cross {
  height: 26%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
}
/* Tonga */
.tonga-red {
  height: 100%;
  width: 100%;
  background-color: red;
  position: relative;
}
.tonga-white {
  height: 50%;
  width: 40%;
  background-color: white;
  position: relative;
}
.tonga-cross-x {
  width: 50%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
.tonga-cross-y {
  width: 15%;
  height: 65%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
/* Japan */
.japan-white {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
}
.japan-circle {
  height: 60%;
  width: 30%;
  border-radius: 50%;
  margin: auto;
  background-color: red;
}
/* Canada */
.canada-red {
  height: 100%;
  width: 100%;
  background-color: red;
}
.canada-white {
  height: 100%;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  position: relative;
}
.canada-leaf {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(28.5deg);
}

/* Norway */
.norway-red {
  height: 100%;
  width: 100%;
  background-color: rgb(255,0,0);
  position: relative;
}
.norway-white-vert {
  height: 100%;
  width: 15%;
  position: absolute;
  left: 20%;
  background-color: rgb(255,255,255);
}
.norway-blue-vert {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(7,30,106);
  z-index: 10;
}

.norway-white-horiz {
  width: 100%;
  height: 28%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255,255,255);
}

.norway-blue-horiz {
  width: 100%;
  height: 53%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(7,30,106);
  z-index: 10;
}

/* Greece */
.greece {
  height: 100%;
  width: 100%;
  position: relative;
}
.greece-blue {
  height: 11.11%;
  width: 100%;
  background-color: rgb(0,87,178);
}
.greece-white {
  height: 11.11%;
  width: 100%;
  background-color: rgb(255,255,255);
}
.greece-cross-ctn {
  height: 55.5%;
  width: 30%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
.greece-blue-sq {
  height: 40%;
  width: 40%;
  background-color: rgb(0,87,178);
  position: absolute;
}
.sq-one {
  left: 0;
  top: 0;
}
.sq-two {
  right: 0;
  top: 0;
}
.sq-three {
  left: 0;
  bottom: 0;
}
.sq-four {
  right: 0;
  bottom: 0;
}
/* Somalia */
.somalia-blue {
  height: 100%;
  width: 100%;
  background-color: rgb(53,121,224);
  position: relative;
}
.somalia-star {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30em;
}


/* Chile */
.chile-grid-ctn {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.chile-blue {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: rgb(27,35,169);
  position: relative;
}
.chile-star {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15em;
}
.chile-white {
  grid-row: 1/2;
  grid-column: 2/4;
  background-color: #fff;
}
.chile-red {
  grid-row: 2/3;
  grid-column: 1/4;
  background-color: rgb(234,0,0);
}
/* Turkey */
.turkey-red {
  height: 100%;
  width: 100%;
  background-color: rgb(255,0,0);
  position: relative;
}
.turkey-white-moon {
  height: 50%;
  width: 25%;
  position: absolute;
  left: 15%;
  top: 25%;
  border-radius: 50%;
  background-color: #fff;
}
.turkey-red-overlay {
  height: 43%;
  width: 20%;
  position: absolute;
  left: 21%;
  top: 28%;
  border-radius: 50%;
  background-color: rgb(255,0,0);
}
.turkey-white-star {
  position: absolute;
  top: 25%;
  left: 38%;
  color: #fff;
  font-size: 15em;
  transform: rotateZ(50deg);
}
/* China */
.china-red {
  height: 100%;
  width: 100%;
  background-color: rgb(255,0,0);
}
.china-star-ctn {
  width: 50%;
  height: 50%;
  position: relative;
}
.china-star-big, .china-star-sm {
  color: rgb(255,255,0);
}
.china-star-big {
  position: absolute;
  top: 0;
  left: 10%;
  font-size: 15em;
}
.china-star-sm {
  font-size: 4em;
}
.sm-1 {
  position: absolute;
  top: 5%;
  left: 42.5%;
  transform: rotateZ(20deg);
}
.sm-2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: rotateZ(45deg);
}
.sm-3 {
  position: absolute;
  top: 50%;
  left: 50%;
}
.sm-4 {
  position: absolute;
  top: 70%;
  left: 42.5%;
  transform: rotateZ(15deg);
}
/* Cuba */
.cuba-ctn {
  height: 100%;
  width: 100%;
  position: relative;
}
.cuba-blue-stripe {
  width: 100%;
  height: 20%;
  background-color: rgb(50,51,135);
}
.cuba-white-stripe {
  width: 100%;
  height: 20%;
  background-color: rgb(255,255,255);
}
.cuba-red-triangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0% 100%, 50% 50%);
  background-color: rgb(240,0,19);
}
.cuba-star {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  color: rgb(255,255,255);
  font-size: 15em;
}
/* Western Sahara */
.ws-ctn {
  height: 100%;
  width: 100%;
  position: relative;
}
.ws-black {
  height: 33%;
  width: 100%;
  background-color: rgb(0,0,0);
}
.ws-white {
  height: 33%;
  width: 100%;
  background-color: rgb(255,255,255);
}
.ws-green {
  height: 33%;
  width: 100%;
  background-color: rgb(0,129,64);
}
.ws-red-triangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0% 100%, 35% 50%);
  background-color: rgb(216,0,0);
}
.ws-emblem-ctn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 20%;
}
.ws-red-moon {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(216,0,0);
  border-radius: 50%;
}
.ws-white-circle {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 80%;
  background-color: rgb(255,255,255);
  border-radius: 50%;
}
.ws-star {
  position: absolute;
  left: 2%;
  top: -10%;
  font-size: 10em;
  color: rgb(216,0,0);
}
/* Kuwait */
.kuwait-ctn {
  height: 100%;
  width: 100%;
}
.kuwait-first-stripe {
  width: 100%;
  height: 33%;
  display: flex;
}
.kuwait-green {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  background-color: green;
  flex-basis: 100%;
}
.kuwait-black {
  height: 100%;
  width: 40%;
  clip-path: polygon(0 0, 100% 35%, 100% 71%, 0 100%);
background-color: black;
}
/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
