* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}
#indonesia, #colombia, #ireland, #france, #benin, #sweden, #switzerland, #tonga, #japan, #canada, #norway, #greece, #somalia, #chile, #turkey, #china, #cuba, #western_sahara, #kuwait, #venezuela, #trinidad_and_tobago, #united_kingdom, #new_zealand, #united_states, #seychelle {
  width: 100%;
  height: calc(100vh - 10px);
  margin-bottom: 5px;
}
/* Indonesia */

.indonesia-red {
  width: 100%;
  height: 50%;
  background: red;
}
.indonesia-white {
  width: 100%;
  height: 50%;
  background: white;
}

/* Colombia */

.colombia-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.colombia-blue {
  width: 100%;
  height: 25%;
  background-color: blue;
}
.colombia-red {
  width: 100%;
  height: 25%;
  background-color: red;
}

/* Ireland */
#ireland {
  display: flex;
}
.ireland-green {
  background-color: green;
  width: 100%;
}
.ireland-white {
  background-color: white;
  width: 100%;
}
.ireland-orange {
  background-color: orange;
  width: 100%;
}

/* France */
#france {
  font-size: 0;
}
.france-blue {
  display: inline-block;
  height: 100%;
  background-color: blue;
  width: 33%;
}
.france-white {
  display: inline-block;
  height: 100%;
  background-color: white;
  width: 33%;
}
.france-red {
  display: inline-block;
  height: 100%;
  background-color: red;
  width: 33%;
}

/* Benin */
.benin-first-col {
  width: 35%;
  height: 100%;
  float: left;
}
.benin-second-col {
  width: 65%;
  height: 100%;
  float: left;
}
.benin-green {
  width: 100%;
  height: 100%;
  background-color: green;
}
.benin-yellow {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.benin-red {
  width: 100%;
  height: 50%;
  background-color: red;
}

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
